<!DOCTYPE html>
<html lang="en">
<head>
	<title>Love-Bootstrap-Coding</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="https://github.com/CharleeWa">
	<meta name="description" content="正确的方式编写 Bootstrap 网站，以及提供一个快速启动脚手架">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- 代码结构 START -->
<header></header>

<main>

<section></section>

</main>

<footer></footer>
<!-- 代码结构 END -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
